{
  "printWidth": 100,
  "singleQuote": true,
  "jsxBracketSameLine:": true,
  "bracketSpacing": true,
  "requirePragma": false,
  "parser": "flow",
  "trailingComma": "all",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
